﻿@model List<string>
@{
    ViewBag.Title = "About";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="list-group">
                @foreach(var item in Model)
                {
                    <a href="/Home/AboutCountry/@item"} class="list-group-item">@item</a>
                }
            </div>
        </div>
    </div>
</div>


