﻿@model WebApplication1.Models.CityWeatherModel

@{
    ViewBag.Title = "AboutCountryAndSity";
}

<h2>@Model.Country</h2>
<h3>@Model.City</h3>
<span>@Model.WeatherDescription</span>

@if(@Model.WeatherDescription == "Data Not Found")
{
    <h3>Mocked Result</h3>
}

<span>
    C:@Model.Cels
</span>
<br />
<span>
    F:@Model.Farh
</span>

