﻿@model WebApplication1.Models.CountryAndCitiesModel
@{
    ViewBag.Title = "AboutCountry";
}

<h2>@Model.CountryName</h2>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="list-group">
                @foreach (var item in Model.CitiesList)
                {
                    <a href="/Home/AboutCountryAndSity/@Model.CountryName/@item/" } class="list-group-item">@item</a>
                }
            </div>
        </div>
    </div>
</div>


