﻿@model WebApplication1.Models.CountriesAndGamesModel
@{
    ViewBag.Title = "Home Page";

}
@Styles.Render("~/Content/custom")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/IndexMain")

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div>
                <label><input type="checkbox" class="country-filter-checkbox">Use country filter</label>
            </div>
        </div>
        <div class="col-md-9 select-form">
            <div class="form-group">
                <label for="games-select">Country-select</label>
                <select class="form-control" id="games-select">
                    <option value="default">
                        --
                    </option>
                    @foreach (var item in Model.CountriesList)
                    {
                        <option value=@item>@item</option>
                    }

                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <table class="table table-hover game-info-table">
            <thead>
                <tr>
                    <th>Team1</th>
                    <th>Team2</th>
                    <th>Stadium Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var footballInfo in Model.GameInfoList)
            {
                    <tr class="dataRow">
                        <td class="team1"><a target="_blank" href=@footballInfo.Team1WikiUrl>@footballInfo.Team1Name</a></td>
                        <td class="team2"><a target="_blank" href=@footballInfo.Team2WikiUrl>@footballInfo.Team2Name</a></td>
                        <td><a target="_blank" href=@footballInfo.StadiumWikiUrl>@footballInfo.StadiumName</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>