﻿@model IReadOnlyList<Models.TeamInfoModel>

@{
    ViewBag.Title = "Task2";
}

<div class="container">
    <div class="row">
        <table class="table table-hover game-info-table">
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var teamInfo in Model)
            {
                    <tr class="dataRow">
                        <td><img src=@teamInfo.Flag><a target="_blank" href=@teamInfo.WikiUrl>@teamInfo.Name</a></td>                        
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

