﻿@model List<Part1.Models.TeamModel>
@{
    ViewBag.Title = "About";
}
<div class="row">
    <div class="col-sm-4">
        <ul class="list-group">            
            @foreach (var i in Model)
            {
                <li class="list-group-item">@i.TeamInfoList</li>
            }
        </ul>
    </div>    
</div>