﻿@model Part1.Models.GeneralModel
@{
    ViewBag.Title = "Home Page";
}

@Styles.Render("~/Content/custom")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/IndexMain")

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div>
                <label><input type="checkbox" class="country-filter-checkbox">Использовать фильтр</label>                
            </div>            
        </div>
        <div class="col-md-9 select-form">
            <div class="form-group">
                <label for="games-select">Выберите страну</label>
                <select class="form-control" id="games-select">
                    <option value="default">
                      --                        
                    </option>
                    @foreach (var item in Model.CountriesList)
                    {
                        <option value=@item> @item </option>
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <table class="table table-hover game-info-table">
    <thead>
                
                <tr>                    
                    <th>Команда1</th>                    
                    <th>Команда2</th>                    
                    <th>Название стадиона</th>                    
                </tr>                
            </thead>            
            <tbody>
                  @foreach (var footballInfo in Model.GameInfoList)
                    {
                     <tr class="dataRow">
                        <td class="team1"><a target = "_blank" href=@footballInfo.Team1.sWikipediaURL>@footballInfo.Team1.sName</a></td>
                        <td class="team2"><a target = "_blank" href=@footballInfo.Team2.sWikipediaURL>@footballInfo.Team2.sName</a></td>
                        <td><a target = "_blank" href=@footballInfo.StadiumInfo.sWikipediaURL>@footballInfo.StadiumInfo.sStadiumName</a></td>
                    </tr>
                }
            </tbody>            
        </table>        
    </div>
</div>
